body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
  text-align: center;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

/* rating and thank you card */
.card {
  background-color: hsl(213, 19%, 18%);
  background: linear-gradient(
    180deg,
    rgba(37, 45, 55, 1) 0%,
    rgba(37, 45, 55, 0.8) 50%,
    rgba(37, 45, 55, 0.7) 70%,
    rgba(37, 45, 55, 0.5) 90%,
    rgba(37, 45, 55, 0.3) 100%
  );
  border-radius: 15px;
  display: inline-block;
  position: relative;
  top: 25vh;
  width: 270px;
  margin: 10px;
  padding: 30px;
  text-align: left;
}

.card h1 {
  color: white;
}

/* rating-section */
#rating-section span {
  border-radius: 50%;
  background-color: rgba(124, 135, 152, 0.1);
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 13px;
  cursor: pointer;
}
#rating-section span:last-of-type {
  margin-right: 0;
}
#rating-section span p,
#rating-section span img {
  margin-top: 12px;
  transform: scale(0.8, 0.8);
}

#rating-section button {
  display: block;
  background-color: hsl(25, 97%, 53%);
  border-radius: 25px;
  color: white;
  width: 260px;
  height: 35px;
  margin: 20px 0 0 0;
  cursor: pointer;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
