body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
  text-align: center;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

/* rating and thank you card */
.card {
  background-color: hsl(213, 19%, 18%);
  background: linear-gradient(
    180deg,
    rgba(37, 45, 55, 1) 0%,
    rgba(37, 45, 55, 0.8) 50%,
    rgba(37, 45, 55, 0.7) 70%,
    rgba(37, 45, 55, 0.5) 90%,
    rgba(37, 45, 55, 0.3) 100%
  );
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top: 25vh;
  width: 335px;
  margin: 10px;
  padding: 20px;
  text-align: left;
}

h1 {
  color: white;
  font-size: 25px;
}

.intro-text {
  line-height: 1.5;
  margin-bottom: 25px;
}

/* rating-section */
#rating-section span {
  border-radius: 50%;
  background-color: rgba(124, 135, 152, 0.1);
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  margin-right: 13px;
  cursor: pointer;
}
#rating-section span:last-of-type {
  margin-right: 0;
}

#rating-section span p,
#rating-section span img {
  margin-top: 15px;
}
#rating-section span img {
  transform: scale(0.8, 0.8);
}

#rating-section button {
  display: block;
  background-color: hsl(25, 97%, 53%);
  border-radius: 25px;
  color: white;
  width: 280px;
  height: 50px;
  letter-spacing: 2px;
  margin: 25px 0 10px 10px;
  cursor: pointer;
}

/* rating section hover effect */
#rating-section button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

#rating-section .rating:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

/* thank you section */
#thankyou-section {
  text-align: center;
}

#thankyou-section img {
  margin: 20px;
}

.rating-result {
  background-color: rgba(124, 135, 152, 0.1);
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  display: inline-block;
  padding: 8px 15px;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 50vh;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
